<div class="row">
<div class="col-md-2">
  <h5><%=t :categories%></h5>
  <hr class="mt-2 mb-3"/>
  <div class="row row-cards row-deck">
    <% for category in @categories%>
    <div class="col-sm-12 col-xl-12">
      <%= render partial: 'categories/category_block', locals: {category: category}%>
    </div>
    <%end%>
  </div>
</div>

<div class="col-md-10">
  <h5><%=t :advertisements%></h5>
  <hr class="mt-2 mb-3"/>
  <div class="row row-cards row-deck">
    <% for advertisement in @advertisements%>
    <div class="col-sm-3 col-xl-3">
      <%= render partial: 'advertisements/advertisement_block', locals: {advertisement: advertisement}%>
    </div>
    <%end%>
  </div>
</div>
</div>
